.title-amar {
  color: #e52b50;
}

.content-card-principal {
  left: 50%;
  top: 50%;
}

.cartao {
  max-width: 700px;
}

.img-card {
  max-width: 100%;
  height: 100%;

  object-fit: cover;
}

.item {
  width: 400px;
  max-height: 350px;
  float: left;
  margin: 3px;
  padding: 3px;
}

.img-content {
  display: flex;
}

.matchCard {
  border-radius: 20px;
  animation: start_matchCard ease-in 0.5s
    alternate;
}
@keyframes start_matchCard {
  from {
    left: 200%;
  }
  to {
    left: 0%;
  }
}

body {
  background-color: #e52b50;
}
